.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  top: 50px;
}
.search input {
  padding: 5px;
  height: 30px;
  width: 180px;
  border-radius: 15px;
  border: 1px solid #f7f31f;
  background-color: #fcfcfc;

  background-image: url("../search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 30px;

  transition: 0.3s;
}
.search input:focus {
  background-image: none;
}

.search input:focus {
  outline: none;
}
.search button:hover {
  background-color: #f8f7a0;
}

.show-temp {
  position: absolute;
  top: 120px;
  margin: auto;
  left: 0;
  right: 0;
  width: 250px;
  background-color: rgba(206, 204, 204, 0.412);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.date {
  position: relative;
  top: -30px;
}
.temp {
  font-size: 32px;
  position: relative;
  top: -45px;
  left: 8px;
}
.convert {
  font-size: 12px;
  position: relative;
  top: -20px;
}
.more-info {
  display: block;
  text-align: center;
  position: relative;
  top: -20px;
  font-size: small;
}
